body{
	background-color:pink;

}
.card{
	background-color:white;
	font-family:American Typewriter;
  

}
.card-title{
	font-size:200%;
  	color:pink;

}

.custom-navbar-class{
	background-color: pink;
}
